Repository cb-defi-notifs/smartcontractkit-chainlink-solana-5b03a095, changes with the owners that CODEOWNERS names for each.
All owners: @smartcontractkit/bix-build, @smartcontractkit/qa, @smartcontractkit/devx, @smartcontractkit/realtime, @smartcontractkit/foundations, @smartcontractkit/releng

CODEOWNERS:

# 12/26 - @njegosrailic: I reviewed the codeowners file and confirmed all the teams are appropriate.

# CODEOWNERS Best Practices
# 1. Per Github docs: "Order is important; the last matching pattern takes the most precedence."
# Please define less specific codeowner paths before more specific codeowner paths in order for the more specific rule to have priority
# The following doc explains the CODEOWNERS file syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

# global ownership
* @smartcontractkit/bix-build

# e2e test ownership
/integration-tests @smartcontractkit/qa @smartcontractkit/bix-build

# gauntlet ownership
/gauntlet @smartcontractkit/devx @smartcontractkit/bix-build

# monitoring ownership
/pkg/monitoring @smartcontractkit/realtime

# LOOP Plugin commands
/pkg/solana/cmd/chainlink-solana @smartcontractkit/foundations @smartcontractkit/bix-build

# CI/CD
/.github/** @smartcontractkit/releng @smartcontractkit/bix-build

upgrade common and add contract reader skip tests (#978)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/relayinterface/chain_components_test.go
  pkg/solana/chainreader/chain_reader_test.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

DS utility (#982)
  contracts/Cargo.lock
  contracts/crates/chainlink-solana-data-streams/Cargo.toml
  contracts/crates/chainlink-solana-data-streams/LICENSE
  contracts/crates/chainlink-solana-data-streams/README.md
  contracts/crates/chainlink-solana-data-streams/src/lib.rs
Owners: @smartcontractkit/bix-build

data streams verifier instruction version adjustment (#985)
  contracts/crates/chainlink-solana-data-streams/Cargo.toml
Owners: @smartcontractkit/bix-build

[NONEVM-706][Solana] - Refactor TXM + Rebroadcast Expired Tx functionality (#946)
  docs/relay/README.md
  pkg/solana/chain.go
  pkg/solana/chain_test.go
  pkg/solana/config/config.go
  pkg/solana/config/mocks/config.go
  pkg/solana/config/toml.go
  pkg/solana/relay.go
  pkg/solana/transmitter.go
  pkg/solana/transmitter_test.go
  pkg/solana/txm/pendingtx.go
  pkg/solana/txm/pendingtx_test.go
  pkg/solana/txm/txm.go
  pkg/solana/txm/txm_integration_test.go
  pkg/solana/txm/txm_internal_test.go
  pkg/solana/txm/txm_load_test.go
  pkg/solana/txm/txm_race_test.go
Owners: @smartcontractkit/bix-build

logs are forwarded to a processor in slot and trx order (#953)
  pkg/solana/logpoller/job.go
  pkg/solana/logpoller/loader.go
  pkg/solana/logpoller/loader_test.go
  pkg/solana/logpoller/log_data_parser.go
Owners: @smartcontractkit/bix-build

Codec interface tests (#967)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/relayinterface/chain_components_test.go
  pkg/solana/codec/codec_entry.go
  pkg/solana/codec/codec_test.go
  pkg/solana/codec/decoder.go
  pkg/solana/codec/decoder_test.go
  pkg/solana/codec/discriminator.go
  pkg/solana/codec/encoder.go
  pkg/solana/codec/encoder_test.go
  pkg/solana/codec/parsed_types.go
  pkg/solana/codec/solana.go
  pkg/solana/codec/testutils/eventItemTypeIDL.json
  pkg/solana/codec/testutils/itemArray1TypeIDL.json
  pkg/solana/codec/testutils/itemArray2TypeIDL.json
  pkg/solana/codec/testutils/itemIDL.json
  pkg/solana/codec/testutils/itemSliceTypeIDL.json
  pkg/solana/codec/testutils/nilTypeIDL.json
  pkg/solana/codec/testutils/sizeItemTypeIDL.json
  pkg/solana/codec/testutils/types.go
  pkg/solana/codec/types.go
  pkg/solana/config/chain_reader.go
  sonar-project.properties
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

add a pop method to arrayvec (#963)
  contracts/Cargo.lock
  contracts/crates/arrayvec/Cargo.toml
  contracts/crates/arrayvec/src/lib.rs
Owners: @smartcontractkit/bix-build

More reasonable smoke test timeout (#989)
  Makefile
Owners: @smartcontractkit/bix-build

Improve Solana address codec modifier to handle all valid base58 keys (#988)
  pkg/solana/codec/byte_string_modifier.go
  pkg/solana/codec/byte_string_modifier_test.go
  pkg/solana/codec/codec_test.go
Owners: @smartcontractkit/bix-build

Updated TestChainComponents to be compatible with optimization changes (#986)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/relayinterface/chain_components_test.go
  pkg/solana/chainreader/chain_reader_test.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

NONEVM-745 LogPoller db models (#921)
  go.mod
  go.sum
  pkg/solana/logpoller/models.go
  pkg/solana/logpoller/orm.go
  pkg/solana/logpoller/orm_test.go
  pkg/solana/logpoller/parser.go
  pkg/solana/logpoller/query.go
  pkg/solana/logpoller/types.go
Owners: @smartcontractkit/bix-build

Enabled Parallel runs for TestChainComponents (#992)
  integration-tests/relayinterface/chain_components_test.go
Owners: @smartcontractkit/qa, @smartcontractkit/bix-build

[NONEVM-1091] - Refactor/Setup CR init and cfg and codec init (#991)
  integration-tests/relayinterface/chain_components_test.go
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/batch.go
  pkg/solana/chainreader/bindings.go
  pkg/solana/chainreader/bindings_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/chainreader/lookup.go
  pkg/solana/codec/anchoridl.go
  pkg/solana/codec/codec_entry.go
  pkg/solana/codec/codec_test.go
  pkg/solana/codec/decoder.go
  pkg/solana/codec/decoder_test.go
  pkg/solana/codec/encoder.go
  pkg/solana/codec/solana.go
  pkg/solana/codec/types.go
  pkg/solana/config/chain_reader.go
  pkg/solana/config/chain_reader_test.go
  pkg/solana/config/testChainReader_invalid.json
  pkg/solana/config/testChainReader_valid_with_IDL_as_string.json
Owners: @smartcontractkit/qa, @smartcontractkit/bix-build

fix: wrap non-array instruction args as structs (#995)
  pkg/solana/codec/solana.go
Owners: @smartcontractkit/bix-build

fix: golangci loopref linter (#996)
  .golangci.yml
  integration-tests/smoke/ocr2_test.go
  integration-tests/soak/ocr2_test.go
  integration-tests/solclient/deployer.go
  pkg/solana/config_tracker.go
  pkg/solana/report_test.go
  pkg/solana/txm/pendingtx_test.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

Solana ChainWriter (#935)
  .mockery.yaml
  contracts/generated/contract_reader_interface/InitializeLookupTable.go
  contracts/generated/contract_reader_interface/InitializeLookupTable_test.go
  contracts/generated/contract_reader_interface/accounts.go
  contracts/generated/contract_reader_interface/instructions.go
  contracts/pnpm-lock.yaml
  contracts/programs/contract-reader-interface/src/lib.rs
  integration-tests/go.sum
  integration-tests/relayinterface/chain_components_test.go
  integration-tests/relayinterface/lookups_test.go
  pkg/solana/chain.go
  pkg/solana/chainwriter/ccip_example_config.go
  pkg/solana/chainwriter/chain_writer.go
  pkg/solana/chainwriter/chain_writer_test.go
  pkg/solana/chainwriter/helpers.go
  pkg/solana/chainwriter/lookups.go
  pkg/solana/chainwriter/testContractIDL.json
  pkg/solana/client/test_helpers.go
  pkg/solana/relay.go
  pkg/solana/transmitter_test.go
  pkg/solana/txm/mocks/tx_manager.go
  pkg/solana/txm/pendingtx.go
  pkg/solana/txm/pendingtx_test.go
  pkg/solana/txm/txm.go
  pkg/solana/txm/txm_internal_test.go
  pkg/solana/txm/txm_unit_test.go
  pkg/solana/txm/utils/utils.go
  pkg/solana/txm/utils/utils_test.go
  pkg/solana/utils.go
  pkg/solana/utils/utils.go
  pkg/solana/utils/utils_test.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

NONEVM-747 register unregister filters (#938)
  .mockery.yaml
  pkg/solana/logpoller/filters.go
  pkg/solana/logpoller/filters_test.go
  pkg/solana/logpoller/log_poller.go
  pkg/solana/logpoller/mock_orm.go
  pkg/solana/logpoller/models.go
  pkg/solana/logpoller/orm.go
  pkg/solana/logpoller/orm_test.go
  pkg/solana/logpoller/parser.go
  pkg/solana/logpoller/query.go
  pkg/solana/logpoller/types.go
  pkg/solana/logpoller/types_test.go
Owners: @smartcontractkit/bix-build

LogPoller DSL Parser (#959)
  .github/workflows/golangci-lint.yml
  integration-tests/smoke/ocr2_test.go
  integration-tests/soak/ocr2_test.go
  integration-tests/solclient/deployer.go
  pkg/solana/config_tracker.go
  pkg/solana/fees/block_history_test.go
  pkg/solana/fees/fixed_price.go
  pkg/solana/fees/utils.go
  pkg/solana/logpoller/orm.go
  pkg/solana/logpoller/parser.go
  pkg/solana/logpoller/parser_test.go
  pkg/solana/logpoller/query.go
  pkg/solana/logpoller/worker.go
  pkg/solana/report_test.go
  pkg/solana/txm/pendingtx_test.go
Owners: @smartcontractkit/releng, @smartcontractkit/bix-build, @smartcontractkit/qa

[NONEVM-984][solana] - Reorg Detection + lighter rpc call (#951)
  pkg/solana/client/client.go
  pkg/solana/client/client_test.go
  pkg/solana/client/mocks/reader_writer.go
  pkg/solana/config/config.go
  pkg/solana/txm/pendingtx.go
  pkg/solana/txm/pendingtx_test.go
  pkg/solana/txm/txm.go
  pkg/solana/txm/txm_integration_test.go
  pkg/solana/txm/txm_internal_test.go
  pkg/solana/txm/utils/utils.go
Owners: @smartcontractkit/bix-build

Updated getSeedBytes to handle array seeds (#1007)
  integration-tests/relayinterface/lookups_test.go
  pkg/solana/chainwriter/helpers.go
  pkg/solana/chainwriter/lookups.go
  pkg/solana/chainwriter/testContractIDL.json
Owners: @smartcontractkit/qa, @smartcontractkit/bix-build

Wrapped MultiNode client (#1006)
  pkg/solana/chain.go
  pkg/solana/client/multi_client.go
Owners: @smartcontractkit/bix-build

bump common for LOOPP health reporting (#1011)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/relayinterface/chain_components_test.go
  integration-tests/smoke/event_loader_test.go
  integration-tests/solclient/solclient.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

pkg/solana: expand HealthReport (#1019)
  pkg/solana/chain.go
  pkg/solana/client/multinode/multi_node.go
  pkg/solana/client/multinode/transaction_sender.go
Owners: @smartcontractkit/bix-build

Enable ChainReader to read PDA account state (#1003)
  pkg/solana/chainreader/account_read_binding.go
  pkg/solana/chainreader/batch.go
  pkg/solana/chainreader/bindings.go
  pkg/solana/chainreader/bindings_test.go
  pkg/solana/chainreader/chain_reader.go
  pkg/solana/chainreader/chain_reader_test.go
  pkg/solana/codec/anchoridl.go
  pkg/solana/codec/codec_entry.go
  pkg/solana/codec/solana.go
  pkg/solana/config/chain_reader.go
  pkg/solana/config/chain_reader_test.go
Owners: @smartcontractkit/bix-build

Added bitmap location parsing for IsWritable and IsSignable on AccountLookups (#1017)
  integration-tests/relayinterface/lookups_test.go
  pkg/solana/chainwriter/ccip_example_config.go
  pkg/solana/chainwriter/chain_writer_test.go
  pkg/solana/chainwriter/helpers.go
  pkg/solana/chainwriter/lookups.go
Owners: @smartcontractkit/qa, @smartcontractkit/bix-build

fix: client merging concurrent calls that shouldn't be merged (#1013)
  pkg/solana/client/client.go
  pkg/solana/client/client_test.go
  pkg/solana/client/mocks/reader_writer.go
  pkg/solana/client/multi_client.go
Owners: @smartcontractkit/bix-build

[NONEVM-916] logpoller log processing & decoding (#1002)
  .tool-versions
  go.mod
  integration-tests/smoke/event_loader_test.go
  pkg/solana/chain.go
  pkg/solana/client/client.go
  pkg/solana/client/mocks/reader_writer.go
  pkg/solana/client/multi_client.go
  pkg/solana/codec/solana.go
  pkg/solana/logpoller/discriminator.go
  pkg/solana/logpoller/filters.go
  pkg/solana/logpoller/filters_test.go
  pkg/solana/logpoller/job.go
  pkg/solana/logpoller/loader.go
  pkg/solana/logpoller/loader_test.go
  pkg/solana/logpoller/log_data_parser.go
  pkg/solana/logpoller/log_poller.go
  pkg/solana/logpoller/log_poller_test.go
  pkg/solana/logpoller/mock_orm.go
  pkg/solana/logpoller/mocks/rpc_client.go
  pkg/solana/logpoller/models.go
  pkg/solana/logpoller/orm.go
  pkg/solana/logpoller/orm_test.go
  pkg/solana/logpoller/query.go
  pkg/solana/logpoller/test_helpers.go
  pkg/solana/logpoller/types.go
  pkg/solana/logpoller/types_test.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

retract v1.1.0 (#1022)
  go.mod
Owners: @smartcontractkit/bix-build

Extract multinode to chainlink-framework (#1004)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/relayinterface/chain_components_test.go
  integration-tests/testconfig/testconfig.go
  pkg/solana/chain.go
  pkg/solana/chain_test.go
  pkg/solana/client/classify_errors.go
  pkg/solana/client/classify_errors_test.go
  pkg/solana/client/client.go
  pkg/solana/client/client_test.go
  pkg/solana/client/mocks/reader_writer.go
  pkg/solana/client/multi_client.go
  pkg/solana/client/multinode/ctx.go
  pkg/solana/client/multinode/models.go
  pkg/solana/client/multinode/multi_node.go
  pkg/solana/client/multinode/node.go
  pkg/solana/client/multinode/node_fsm.go
  pkg/solana/client/multinode/node_lifecycle.go
  pkg/solana/client/multinode/node_selector.go
  pkg/solana/client/multinode/node_selector_highest_head.go
  pkg/solana/client/multinode/node_selector_priority_level.go
  pkg/solana/client/multinode/node_selector_round_robin.go
  pkg/solana/client/multinode/node_selector_total_difficulty.go
  pkg/solana/client/multinode/poller.go
  pkg/solana/client/multinode/redialbackoff.go
  pkg/solana/client/multinode/send_only_node.go
  pkg/solana/client/multinode/send_only_node_lifecycle.go
  pkg/solana/client/multinode/transaction_sender.go
  pkg/solana/client/multinode/types.go
  pkg/solana/client/multinode_client.go
  pkg/solana/config/multinode.go
  pkg/solana/config/toml.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

Bump core (#1023)
  integration-tests/go.mod
  integration-tests/go.sum
Owners: @smartcontractkit/qa, @smartcontractkit/bix-build

NONEVM-1115 logpoller backfill (#1012)
  .mockery.yaml
  integration-tests/smoke/log_poller_test.go
  pkg/solana/client/client.go
  pkg/solana/client/mocks/reader_writer.go
  pkg/solana/client/multi_client.go
  pkg/solana/logpoller/blocks_sorter.go
  pkg/solana/logpoller/blocks_sorter_test.go
  pkg/solana/logpoller/filters.go
  pkg/solana/logpoller/filters_test.go
  pkg/solana/logpoller/job.go
  pkg/solana/logpoller/job_get_block.go
  pkg/solana/logpoller/job_get_block_test.go
  pkg/solana/logpoller/job_get_slots_for_addr.go
  pkg/solana/logpoller/job_get_slots_for_addr_test.go
  pkg/solana/logpoller/loader.go
  pkg/solana/logpoller/loader_test.go
  pkg/solana/logpoller/log_poller.go
  pkg/solana/logpoller/log_poller_test.go
  pkg/solana/logpoller/mock_filters.go
  pkg/solana/logpoller/mock_logs_loader.go
  pkg/solana/logpoller/mock_orm.go
  pkg/solana/logpoller/mocks/rpc_client.go
  pkg/solana/logpoller/mocks/worker_group.go
  pkg/solana/logpoller/orm.go
  pkg/solana/logpoller/orm_test.go
  pkg/solana/logpoller/types.go
  pkg/solana/logpoller/worker/job.go
  pkg/solana/logpoller/worker/worker.go
  pkg/solana/logpoller/worker/worker_test.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa

Improve log poller codec usage and optimise log event discriminator matching (#1014)
  pkg/solana/codec/codec_entry.go
  pkg/solana/codec/codec_test.go
  pkg/solana/codec/discriminator.go
  pkg/solana/codec/discriminator_extractor_test.go
  pkg/solana/codec/discriminator_test.go
  pkg/solana/codec/solana.go
  pkg/solana/codec/testutils/types.go
  pkg/solana/logpoller/discriminator.go
  pkg/solana/logpoller/filters.go
  pkg/solana/logpoller/log_poller.go
  pkg/solana/logpoller/log_poller_test.go
  pkg/solana/logpoller/mock_filters.go
  pkg/solana/logpoller/models.go
  pkg/solana/logpoller/test_helpers.go
  pkg/solana/logpoller/types.go
  pkg/solana/logpoller/types_test.go
Owners: @smartcontractkit/bix-build

Implement relayer chain components constructors (#1025)
  integration-tests/relayinterface/chain_components_test.go
  pkg/solana/chain.go
  pkg/solana/chainreader/client_wrapper.go
  pkg/solana/client/client.go
  pkg/solana/client/mocks/reader_writer.go
  pkg/solana/client/multi_client.go
  pkg/solana/codec/decoder.go
  pkg/solana/codec/decoder_test.go
  pkg/solana/codec/encoder.go
  pkg/solana/codec/encoder_test.go
  pkg/solana/codec/parsed_types.go
  pkg/solana/codec/solana.go
  pkg/solana/relay.go
  pkg/solana/transmitter_test.go
  pkg/solana/txm/txm.go
Owners: @smartcontractkit/qa, @smartcontractkit/bix-build

Add logpoller.FilteredLogs and support for filtering on subkey (#1020)
  pkg/solana/chain.go
  pkg/solana/logpoller/filters.go
  pkg/solana/logpoller/filters_test.go
  pkg/solana/logpoller/log_poller.go
  pkg/solana/logpoller/log_poller_test.go
  pkg/solana/logpoller/mock_orm.go
  pkg/solana/logpoller/models.go
  pkg/solana/logpoller/orm.go
  pkg/solana/logpoller/orm_test.go
  pkg/solana/logpoller/parser.go
  pkg/solana/logpoller/parser_test.go
  pkg/solana/logpoller/query.go
  pkg/solana/logpoller/test_helpers.go
  pkg/solana/logpoller/types.go
Owners: @smartcontractkit/bix-build

Added ArgsTransform and Updated CCIP Config Example to be up-to-date (#1009)
  go.mod
  go.sum
  integration-tests/go.mod
  integration-tests/go.sum
  integration-tests/relayinterface/lookups_test.go
  pkg/solana/chainwriter/ccip_example_config.go
  pkg/solana/chainwriter/chain_writer.go
  pkg/solana/chainwriter/chain_writer_test.go
  pkg/solana/chainwriter/helpers.go
  pkg/solana/chainwriter/lookups.go
  pkg/solana/chainwriter/transform_registry.go
Owners: @smartcontractkit/bix-build, @smartcontractkit/qa
